{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="/static/astyles.css">
</head>
<body>
  <div class="container-f">
    <h1>About Us</h1>
    <p>
      Welcome to Our Website! We are a team of passionate individuals who aim to provide helpful resources,
      tools, and services for our users.
    </p>
    <p>
      Our mission is to empower people through technology and build a strong, knowledgeable community.
    </p>
    <p>
      Thank you for visiting and being part of our journey!
    </p>
  </div>
</body>
</html>
{% endblock  %}
