{% extends "base.html" %}
{% block content %}



    <div class="categories">
        <div class="small-container">
            <h1>Categories</h1>
            <p>WE’VE GOT YOU FRIEND! CHECK THESE POSTS OUT.</p>
            <div class="row">
                <div class="col ">
                    <img src="/static/images/category-1.jpg" >
                    <h3>JEA<span>NS...</span></h3>
                </div>
                <div class="col ">
                    <img src="/static/images/category-2.jpg" >
                    <h3>SHO<span>ES...</span></h3>
                </div>
                <div class="col ">
                    <img src="/static/images/category-3.jpg" >
                    <h3>HOD<span>DY...</span></h3>
                </div>
            </div>
        </div>
    </div>

<!-- -------------- featured products ----------- -->

    <div class="small-container">
        <h2 class="title">FEATURED PRODUCTS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto <br>corrupti dolores distinctio delectus cupiditate blanditiis.</p>
        <div class="row">
            <div class="col-4">
                <img src="/static/images/product-1.jpg">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <p>$150.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/product-2.jpg">
                <h4>Black Shoes</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$100.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/product-3.jpg">
                <h4>Touser</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <p>$130.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/product-4.jpg">
                <h4>Blue T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$180.00</p>
            </div>
        </div>
        <h2 class="title">LATEST PRODUCTS</h2>
        <div class="row">
            <div class="col-4">
                <img src="/static/images/product-5.jpg">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <p>$150.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/product-6.jpg">
                <h4>Black Shoes</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$100.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/product-7.jpg">
                <h4>Touser</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <p>$130.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/product-8.jpg">
                <h4>Blue T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$180.00</p>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="/static/images/product-9.jpg">
                    <h4>Red Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                    <p>$150.00</p>
                </div>
                <div class="col-4">
                    <img src="/static/images/product-10.jpg">
                    <h4>Black Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$100.00</p>
                </div>
                <div class="col-4">
                    <img src="/static/images/product-11.jpg">
                    <h4>Touser</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                    <p>$130.00</p>
                </div>
                <div class="col-4">
                    <img src="/static/images/product-12.jpg">
                    <h4>Blue T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$180.00</p>
                </div>
            </div>
        </div>
    </div>
    <!-- --------------- offer --------------- -->

    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="/static/images/exclusive.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <h1>Smart Band 4</h1>
                    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aperiam doloremque officiis quos et. Magnam ea deserunt amet in hic.<br></small>
                    <a href="" class="btn">Buy Now &#8594</a>
                </div>
            </div>
        </div>
    </div>

    <!-- --------------------- testimonials -------------- -->

    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto distinctio suscipit reprehenderit nisi, enim architecto beatae error voluptatem sunt voluptas!</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/static/images/user-1.png" alt="">
                    <h3>Khemlata <span>Rani</span></h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto distinctio suscipit reprehenderit nisi, enim architecto beatae error voluptatem sunt voluptas!</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/static/images/user-2.png" alt="">
                    <h3> Pankaj     <span>Rajpoot</span></h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto distinctio suscipit reprehenderit nisi, enim architecto beatae error voluptatem sunt voluptas!</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/static/images/user-3.png" alt="">
                    <h3>Chulbuli <span>Kumari</span></h3>
                </div>
            </div>
        </div>
    </div>
    <!-- ---------------- brands --------------------  -->

    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <a href="https://www.godrej.com/" target="_blank"><img src="/static/images/logo-godrej.png" ></a>
                </div>
                <div class="col-5">
                    <img src="/static/images/logo-coca-cola.png" >
                </div>
                <div class="col-5">
                    <img src="/static/images/logo-oppo.png" >
                </div>
                <div class="col-5">
                    <img src="/static/images/logo-paypal.png" >
                </div>
                <div class="col-5">
                    <img src="/static/images/logo-philips.png" >
                </div>
            </div>
        </div>
    </div>

    <!-- -------------- footer -------------------- -->
{% endblock %}
   