{% extends "base.html" %}
{% block content %}


<body>
  <div>
    <div>
       <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label for="">value1</label>
            <input type="text" name="num1" class="form-control"/>
        </div> 
        <div>
            <label for="">value2</label>
            <input type="text" name="num2" class="form-control"/>
        </div>  
        <div>
          <button type="submit">save</button>

        </div>
        output
        <input type="text" value="{{output}}"/>
      </form>
    </div>
  </div>    



   
</body>
{% endblock %}